<agm-map 
[latitude]="52.237049"
[longitude]="21.017532"
[zoom]="11"
>
  <agm-marker
    *ngFor="let tram of trams"
    [latitude]="tram.latitude"
    [longitude]="tram.longitude"
    (markerClick)="selectTram($event, tram.brigade)"

  >
  </agm-marker>

</agm-map>

<form [formGroup]="numberForm" (ngSubmit)="onSubmit(numberForm)">
    <label>TramNumber:</label>
    <input type="number" name="firstname" formControlName="number">   
    <button type="submit">Send</button>
</form>
<p *ngIf="selectedTram">
Lat: {{ selectedTram.lat }} <br>
Lng: {{ selectedTram.lng }} <br>
Line: {{ selectedTram.line }}<br>
Brigade: {{ selectedTram.brigade }}<br>
Time: {{ selectedTram.time }}<br>
</p>


<button type="button" class="btn btn-primary">Primary</button>
<router-outlet></router-outlet>
