<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.16" targetFramework="net472" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net472" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="78.0.3904.10500" targetFramework="net472" />
  <package id="Sprache.Signed" version="2.2.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
</packages>